@use "../custom" as *;
@use "../components/mixins" as *;
@use "../components/animations";
.intro-sec{
    @include gradient;
    padding: 10rem 0 0 0;
    width: 100%;
    height: 100%;
}
.intros{
    padding: 0;
    .video-box{
        position: relative;
        transform: translateX(-12px);
        a{
            span{
                i{
                    @include ABScenter ; 
                    font-size: 6rem;
                    color: $secondary;
                }
            }
        }
    }
}
.border-animation{
    position: absolute;
    top: -48px;
    left: 48px;
    width: 6rem;
    height: 6rem;
    border: 0.55rem solid $secondary;
    border-radius: 50%;
    animation: pulse-border 1.5s linear infinite;
    &--border-1{
    animation-delay:1s ;
    }
    &--border-2{
        animation-delay:1.5s ;
        }
}