@use "../custom" as *;
.display-2{
    
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
    text-transform: capitalize;
    &--intro{
        display: inline-block;
        font-weight: 700;
        
    font-family: 'Poppins', sans-serif;
    }
    &--description{
        font-size: 1rem;
        text-transform: none;
        display: block;
        margin-top:1.2rem ;
        @include media-breakpoint-up(lg){
            font-size: 1.4rem;
            display: inline-block;
        }
    }
}
.heading-line::before{
    content: "";
    width: 10rem;
    height: 0.1rem;
    display: block;
    background-color: $primary;
    margin:0 auto;
}

.heading-line::after{
    content: "";
    width: 2rem;
    height: 0.5rem;
    padding-top:0.5rem ;
    display: block;
    background-color: $primary;
    margin:0 auto;
    margin-bottom: 1rem;
}
.campanies{
    .container{
        .row{
            h4{
                font-family: 'Poppins', sans-serif;
        }
    }
}
}
.display-3{
    font-family: 'Poppins', sans-serif;
    &--title{
       
        font-size: 1.2rem;
        @include media-breakpoint-up(lg){
            font-size: 1.8rem;
        }
        text-transform: capitalize;
        font-weight: 600;
    font-family: 'Poppins', sans-serif;
    background-clip: text;
    background-image: linear-gradient(to right,$primary,$secondary);
    display: inline-block;
    -webkit-text-fill-color: transparent;
    }
}
.border-right{
    border-right: 0.1rem solid $gray-300;
    height: 100%;
}


.gradient{
    background: linear-gradient(to right, rgba($primary,0.95),rgba($secondary,0.95));
}